body , html {
    margin: 0;
    font-family: roboto;;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 9fr;
    height: 100vh;
}

.header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
}

.header-logo-section {
    grid-area: 1/1/1/2;
    display: flex;
    margin: auto;
    font-size: 3rem;
    font-weight: 700;
}

.header-log-section {
    grid-area: 1/3/-1/-1;
    margin: auto;
}

.info-bar {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    background-color: rgb(211, 230, 230);
    border-radius: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: sticky;
    top: 0;
}

.info-bar-order-section {
    grid-area: 1/1/2/2;
}

.info-bar-color-section {
    grid-area: 1/2/2/-1;
}

.library-text {
    margin: auto;
    padding-left: 1rem;
}

.log-card {
    border: solid 1px rgb(194, 174, 174);
    border-radius: .3rem;
    display: grid;
    margin: auto;
    background: linear-gradient(#daebec,#ddf3f7);
    height: 10rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.log-card-title {
    margin: auto;
    font-size: 1.2rem;
    font-weight: 700;
}

.log-count-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.log-count-section > div {
    padding-left: 1rem;
}

.info-bar-color-section , .info-bar-color-section >div{
    display: flex;
    margin-left: auto;
}

.info-color-card {
    border: 1px solid;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1rem;
}

.info-bar-color-section >div {
    margin-right: 1rem;
    margin: auto 1rem auto;
    width: 10rem;
}

.info-bar-color-section >div > div {
    padding-right: 1rem ;
    margin: auto;
}

.info-read-card {
    background: linear-gradient(#bae6fd,#0284c7);
    width: 3rem;
    height: 1.5rem;
}

.info-not-read-card {
    background: linear-gradient(#fda4af,#f43f5e);
    width: 3rem;
    height: 1.5rem;
}

.add-book-button {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2rem;
}

.book-cards-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
    padding: 1rem;
}

.book-card {
    width: 100%;
    height: 50vh;
    border: solid 1px rgb(155, 154, 154);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr repeat(3,2fr);
    background: linear-gradient(#bae6fd,#0284c7);
}

.close-button {
    display: flex;
    margin-left: auto;
    padding: 1rem;
}

.book-card > div , label {
    padding: 1rem;
}

.book-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.close-button > a > img , .close-button > button > img{
    width: 15px;
    padding: 0;
}

button {
    background: transparent;
    border: 0;
}

.book-submit {
    width: 100%;
    height: 50vh;
    border: solid 1px rgb(155, 154, 154);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 12fr;
    background: linear-gradient(#bae6fd,#93c3db);
    grid-area: 1/1/2/2;
}

.book-submit > form {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 100%;
}

.book-submit > .close-button {
    padding: 0;
}

.form > input[type='text'],input[type='number'] {
    width: 70%;
    height: 1rem;
    margin: .5rem auto 0 auto;
    border: 0px;
    border-radius: 1rem;
    height: 2rem;
    padding-left: 10px;
}

.form > label {
    margin: auto;
}

.form > button {
    border: 1px solid rgb(4, 110, 117);
    border-radius: 1rem;
    width: 7rem;
    height: 2rem;
    background-color: #0ab4df;
    margin: 0 auto auto auto;
}